# Packages for Cloudera's Distribution for Hadoop
# Ansible Template

deb [arch=amd64] {{cdh_manager_agent_repo_base_path }}{{ ansible_distribution|lower }}/{{ ansible_distribution_release|lower }}/amd64/cm precise-cm{{ cdh_manager_agent_version }} contrib
deb-src {{cdh_manager_agent_repo_base_path }}{{ ansible_distribution|lower }}/{{ ansible_distribution_release|lower }}/amd64/cm precise-cm{{ cdh_manager_agent_version }} contrib

